* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.add_task {
    border: 2px solid black;
    padding: 10px;
    max-width: 1100px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.add_task input {
    padding: 10px;
}

.add_task select {
    padding: 10px;
}

.add_task button {
    padding: 10px;
}


.tasks {
    max-width: 1100px;
    margin: 0 auto;
}

.tasks div {
    border: 2px solid black;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.info {
    max-width: 1100px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    gap: 20px;
}