.item {
    margin: 0 auto;
    width: 1244px;
    height: 463px;
    background-color: #34495E;
    border-radius: 20px;
    
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Добавляем отступ сверху в 50px */
  }


.inputs {
    display: flex;
    flex-direction: column;
    margin: 77px 150px
}


.form input{
    height: 50px;
    width: 950px;
    background-color: #D9D9D9;
    border-style: none;
    text-indent: 20px;
}

.form input:not(:last-child) {
    margin-bottom: 36px;
}

.form button {
    background-color: #27AE60;
    color: white;
    height: 50px;
    margin-top: 90px;
}

/* .form button {
    height: 50px;
    width: 950px;
    background-color: #27AE60;
    box-sizing: border-box;
    border-style: none;
} */ 