.nav_menu {
  background-color: rgb(47, 56, 110);
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 25px;
  padding: 20px;
}

.nav_menu a {
  text-decoration: none;
  color: white;
}